<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DIY作品</title>

    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script src="../../static/bootstrap/js/jquery.min.2.1.1.js" th:src="@{/bootstrap/js/jquery.min.2.1.1.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<div style="margin:10px;">
    <ol class="breadcrumb">
        <li><a href="#">主页</a></li>
    </ol>
    <h1>主页内容</h1>
    <a href="/index">跳转yxw游戏主页</a> <br/>
    <a href="/cmd/action_game">跳转cmd游戏</a>
</div>

</body>
</html>