<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>游戏王DIY作品</title>

    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script src="../../static/bootstrap/js/jquery.min.2.1.1.js" th:src="@{/bootstrap/js/jquery.min.2.1.1.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../static/bootstrap/js/common.js" th:src="@{/bootstrap/js/common.js}"></script>
    <style>
        .player-tr:hover {
            background-color: #5bc0de;
        }
    </style>
</head>
<body>
<div style="margin:10px;">
    <ol class="breadcrumb">
        <li><a href="#">主页</a></li>
        <li><a href="#">用户管理</a></li>
        <li class="active">用户列表</li>
    </ol>

    <table class="table">
        <caption>
            用户列表&nbsp;&nbsp;&nbsp;&nbsp; 总数：<span id="player-total-count" th:text="${totalCount}"></span>
            每页显示数量：
            <select id="player-page-select" class="form-select-button">
                <option value="10" selected>10</option>
                <option value="15">20</option>
                <option value="30">30</option>
                <option value="100">100</option>
                <option value="">最大</option>
            </select>
        </caption>
        <thead>
            <th>ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>管理员</th>
            <th>创建时间</th>
            <th>最后登录时间</th>
            <th>操作</th>
        </thead>
        <tbody th:each="player,stat:${players}">
        <tr class="player-tr">
            <td th:text="${player.id}"></td>
            <td th:text="${player.username}"></td>
            <td th:text="${player.password}"></td>
            <td th:text="${player.admin}"></td>
            <td th:text="${#dates.format(player.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(player.lastLoginTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><a href="#" th:onclick="'deletePlayer(' + ${player.id} + ')'">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    function deletePlayer(id) {
        alert(id);
    }
</script>
</html>