<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsr.game.mapper.AccountMapper">
    <sql id="accountSql">
        <if test="account!=null">
            <if test="account.username!=null">and username like '%' || #{account.username} || '%' </if>
            <if test="account.password!=null">and password like '%' || #{account.password} || '%' </if>
            <if test="account.admin!=null">and admin = #{account.admin} </if>
        </if>
        <if test="createTimeStart!=null">
            and createTime <![CDATA[ >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd!=null">
            and createTime <![CDATA[ <= ]]> #{createTimeEnd}
        </if>
        <if test="lastLoginTimeStart!=null">
            and lastLoginTime <![CDATA[ >= ]]> #{lastLoginTimeStart}
        </if>
        <if test="lastLoginTimeEnd!=null">
            and lastLoginTime <![CDATA[ <= ]]> #{lastLoginTimeEnd}
        </if>
    </sql>
    <update id="createTable">
        create table account(
           id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1, INCREMENT BY 1)primary key,
           username varchar(255) unique not null,
           admin boolean,
           password varchar(255),
           createTime bigint,
           lastLoginTime bigint
        )
    </update>
    <delete id="dropTable">
        drop table account
    </delete>
    <select id="count" resultType="Integer" parameterType="com.hsr.game.account.common.AccountQueryVo">
        select count(1) from account
        <where>
            <include refid="accountSql" />
        </where>
    </select>
    <select id="selectAll" resultType="com.hsr.game.account.pojo.Account">
        select * from account
    </select>
    <select id="selectById" parameterType="long" resultType="com.hsr.game.account.pojo.Account">
        select * from account where id = #{value}
    </select>
    <select id="selectByUsername" parameterType="String" resultType="com.hsr.game.account.pojo.Account">
        select * from account where username = #{value}
    </select>
    <select id="selectByVo" parameterType="com.hsr.game.account.common.AccountQueryVo" resultType="com.hsr.game.account.pojo.Account">
        select * from account
        <where>
            <include refid="accountSql" />
        </where>
        order by id asc
        <if test="firstResult!=null and maxResult!=null">
            OFFSET #{firstResult} ROWS FETCH NEXT #{maxResult} ROWS ONLY
        </if>
    </select>
    <insert id="insert" parameterType="com.hsr.game.account.pojo.Account" useGeneratedKeys="true" keyProperty="id">
        insert into account(username,password,admin,createTime)
        values(#{username}, #{password}, #{admin}, #{createTime})
    </insert>
    <delete id="deleteById">
        delete from account where id = #{value}
    </delete>
    <delete id="delete">
        delete from account where id in
        <foreach item='item' index='index' collection='ids' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </delete>
    <delete id="deleteAll">
        delete from account
    </delete>
    <update id="update" parameterType="com.hsr.game.account.pojo.Account">
        update account
        set username = #{username}, password = #{password}, lastLoginTime = #{lastLoginTime,jdbcType=BIGINT}, admin = #{admin}
        where id = #{id}
    </update>
    <update id="updateForNotNull" parameterType="com.hsr.game.account.pojo.Account">
        update account
        <set>
            <if test="username!=null"> username = #{username}, </if>
            <if test="password!=null"> password = #{password}, </if>
            <if test="lastLoginTime!=null"> lastLoginTime = #{lastLoginTime}, </if>
            <if test="admin!=null"> admin = #{admin}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>