<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsr.yxw.mapper.PlayerMapper">
    <sql id="playerSql">
        <if test="player!=null">
            <if test="player.username!=null">and username like '%' || #{player.username} || '%' </if>
            <if test="player.password!=null">and password like '%' || #{player.password} || '%' </if>
            <if test="player.admin!=null">and admin = #{player.admin} </if>
        </if>
        <if test="createTimeStart!=null">
            and createTime <![CDATA[ >= ]]> #{createTimeStart}
        </if>
        <if test="createTimeEnd!=null">
            and createTime <![CDATA[ <= ]]> #{createTimeEnd}
        </if>
        <if test="lastLoginTimeStart!=null">
            and lastLoginTime <![CDATA[ >= ]]> #{lastLoginTimeStart}
        </if>
        <if test="lastLoginTimeEnd!=null">
            and lastLoginTime <![CDATA[ <= ]]> #{lastLoginTimeEnd}
        </if>
    </sql>
    <update id="createTable">
        create table player(
           id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1, INCREMENT BY 1)primary key,
           username varchar(255) unique not null,
           admin boolean,
           password varchar(255),
           createTime bigint,
           lastLoginTime bigint
        )
    </update>
    <delete id="dropTable">
        drop table player
    </delete>
    <select id="count" resultType="Integer" parameterType="com.hsr.yxw.player.vo.PlayerQueryVo">
        select count(1) from player
        <where>
            <include refid="playerSql" />
        </where>
    </select>
    <select id="selectAll" resultType="com.hsr.yxw.player.pojo.Player">
        select * from player
    </select>
    <select id="selectById" parameterType="long" resultType="com.hsr.yxw.player.pojo.Player">
        select * from player where id = #{value}
    </select>
    <select id="selectByUsername" parameterType="String" resultType="com.hsr.yxw.player.pojo.Player">
        select * from player where username = #{value}
    </select>
    <select id="selectByVo" parameterType="com.hsr.yxw.player.vo.PlayerQueryVo" resultType="com.hsr.yxw.player.pojo.Player">
        select * from player
        <where>
            <include refid="playerSql" />
        </where>
        order by id asc
        <if test="firstResult!=null and maxResult!=null">
            OFFSET #{firstResult} ROWS FETCH NEXT #{maxResult} ROWS ONLY
        </if>
    </select>
    <insert id="insert" parameterType="com.hsr.yxw.player.pojo.Player" useGeneratedKeys="true" keyProperty="id">
        insert into player(username,password,admin,createTime)
        values(#{username}, #{password}, #{admin}, #{createTime})
    </insert>
    <delete id="deleteById">
        delete from player where id = #{value}
    </delete>
    <delete id="delete">
        delete from player where id in
        <foreach item='item' index='index' collection='ids' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </delete>
    <update id="update" parameterType="com.hsr.yxw.player.pojo.Player">
        update player
        set username = #{username}, password = #{password}, lastLoginTime = #{lastLoginTime,jdbcType=BIGINT}, admin = #{admin}
        where id = #{id}
    </update>
    <update id="updateForNotNull" parameterType="com.hsr.yxw.player.pojo.Player">
        update player
        <set>
            <if test="username!=null"> username = #{username}, </if>
            <if test="password!=null"> password = #{password}, </if>
            <if test="lastLoginTime!=null"> lastLoginTime = #{lastLoginTime}, </if>
            <if test="admin!=null"> admin = #{admin}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>