<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsr.yxw.mapper.YxwCardMapper">

    <sql id="yxwCardSql">
        <if test="yxwCard!=null">
            <if test="yxwCard.cardName!=null">and cardName like '%' || #{yxwCard.cardName} || '%' </if>
            <if test="yxwCard.localImgUrl!=null">and localImgUrl like '%' || #{yxwCard.localImgUrl} || '%' </if>
            <if test="yxwCard.remoteImgUrl!=null">and remoteImgUrl like '%' || #{yxwCard.remoteImgUrl} || '%' </if>
            <if test="yxwCard.description!=null">and description like '%' || #{yxwCard.description} || '%' </if>
            <if test="yxwCard.cardType!=null">and cardType = #{yxwCard.cardType} </if>
        </if>
    </sql>
    <update id="createTable">
        create table yxw_card(
            id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1, INCREMENT BY 1)primary key,
            cardName varchar(255) unique not null,
            localImgUrl varchar(255),
            remoteImgUrl varchar(255),
            description varchar(255) not null,
            cardType varchar(255) not null
        )
    </update>
    <delete id="dropTable">
        drop table yxw_card
    </delete>
    <select id="count" resultType="Integer" parameterType="com.hsr.yxw.card.common.YxwCardQueryVo">
        select count(1) from yxw_card
        <where>
            <include refid="yxwCardSql" />
        </where>
    </select>
    <select id="selectAll" resultType="com.hsr.yxw.card.pojo.YxwCard">
        select * from yxw_card
    </select>
    <select id="selectById" parameterType="long" resultType="com.hsr.yxw.card.pojo.YxwCard">
        select * from yxw_card where id = #{value}
    </select>
    <select id="selectByVo" parameterType="com.hsr.yxw.card.common.YxwCardQueryVo" resultType="com.hsr.yxw.card.pojo.YxwCard">
        select * from yxw_card
        <where>
            <include refid="yxwCardSql" />
        </where>
        order by id asc
        <if test="firstResult!=null and maxResult!=null">
            OFFSET #{firstResult} ROWS FETCH NEXT #{maxResult} ROWS ONLY
        </if>
    </select>
    <insert id="insert" parameterType="com.hsr.yxw.card.pojo.YxwCard" useGeneratedKeys="true" keyProperty="id">
        insert into yxw_card(cardName,localImgUrl,remoteImgUrl,description, cardType)
        values(#{cardName}, #{localImgUrl}, #{remoteImgUrl}, #{description}, #{cardType})
    </insert>
    <delete id="deleteById">
        delete from yxw_card where id = #{value}
    </delete>
    <delete id="delete">
        delete from yxw_card where id in
        <foreach item='item' index='index' collection='ids' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </delete>
    <delete id="deleteAll">
        delete from yxw_card
    </delete>
    <update id="update" parameterType="com.hsr.yxw.card.pojo.YxwCard">
        update yxw_card
        set cardName = #{cardName}, localImgUrl = #{localImgUrl,jdbcType=VARCHAR}, remoteImgUrl = #{remoteImgUrl,jdbcType=VARCHAR},
            description = #{description}, cardType = #{cardType}
        where id = #{id}
    </update>
    <update id="updateForNotNull" parameterType="com.hsr.yxw.card.pojo.YxwCard">
        update yxw_card
        <set>
            <if test="cardName!=null"> cardName = #{cardName}, </if>
            <if test="localImgUrl!=null"> localImgUrl = #{localImgUrl}, </if>
            <if test="remoteImgUrl!=null"> remoteImgUrl = #{remoteImgUrl}, </if>
            <if test="description!=null"> description = #{description}, </if>
            <if test="cardType!=null"> cardType = #{cardType}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>