<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsr.game.mapper.YxwGameDataItemMapper">

    <update id="createTable">
        create table yxw_game_data_item (
           id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1, INCREMENT BY 1)primary key,
           userId bigint not null,
           dataType varchar(255) not null,
           dateValue varchar(32672) not null
        )
    </update>
    <delete id="dropTable">
        drop table yxw_game_data_item
    </delete>

    <delete id="deleteAll">
        delete from yxw_game_data_item
    </delete>
    <sql id="yxwGameDataItemSql">
        <if test="yxwGameDataItem!=null">
            <if test="yxwGameDataItem.userId!=null"> and userId = #{yxwGameDataItem.userId} </if>
            <if test="yxwGameDataItem.dataType!=null"> and dataType = #{yxwGameDataItem.dataType} </if>
        </if>
    </sql>
    <select id="count" resultType="Integer" parameterType="com.hsr.game.yxw.data.YxwGameDataItemQueryVo">
        select count(1) from yxw_game_data_item
        <where>
            <include refid="yxwGameDataItemSql" />
        </where>
    </select>
    <select id="selectById" parameterType="long" resultType="com.hsr.game.yxw.data.YxwGameDataItem">
        select * from yxw_game_data_item where id = #{value}
    </select>

    <select id="selectByDataType" parameterType="com.hsr.game.yxw.data.YxwGameDataType" resultType="com.hsr.game.yxw.data.YxwGameDataItem">
        select * from yxw_game_data_item where dataType = #{dataType}
    </select>

    <select id="selectByUserIdAndType" resultType="com.hsr.game.yxw.data.YxwGameDataItem">
        select * from yxw_game_data_item where userId = #{param1} and dataType = #{param2}
    </select>
    <select id="countByUserIdAndType" resultType="int">
        select count(1) from yxw_game_data_item where userId = #{param1} and dataType = #{param2}
    </select>


    <select id="selectByUserId" parameterType="long" resultType="com.hsr.game.yxw.data.YxwGameDataItem">
        select * from yxw_game_data_item where userId = #{userId}
    </select>

    <select id="selectAll" resultType="com.hsr.game.yxw.data.YxwGameDataItem">
        select * from yxw_game_data_item
    </select>
    <select id="selectByVo" parameterType="com.hsr.game.yxw.data.YxwGameDataItemQueryVo" resultType="com.hsr.game.yxw.data.YxwGameDataItem">
        select * from yxw_game_data_item
        <where>
            <include refid="yxwGameDataItemSql" />
        </where>
        order by id asc
        <if test="firstResult!=null and maxResult!=null">
            OFFSET #{firstResult} ROWS FETCH NEXT #{maxResult} ROWS ONLY
        </if>
    </select>
    <insert id="insert" parameterType="com.hsr.game.yxw.data.YxwGameDataItem" useGeneratedKeys="true" keyProperty="id">
        insert into yxw_game_data_item(userId, dataType, dateValue)
        values(#{userId},#{dataType},#{dateValue})
    </insert>
    <delete id="delete">
        delete from yxw_game_data_item where id in
        <foreach item='item' index='index' collection='ids' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </delete>
    <delete id="deleteById" parameterType="long">
        delete from yxw_game_data_item where id = #{value}
    </delete>
    <delete id="deleteByUserId" parameterType="long">
        delete from yxw_game_data_item where userId = #{value}
    </delete>

    <update id="update" parameterType="com.hsr.game.yxw.data.YxwGameDataItem">
        update yxw_game_data_item
        set dateValue = #{dateValue}
        where id = #{id}
    </update>
    <update id="updateForNotNull" parameterType="com.hsr.game.yxw.data.YxwGameDataItem">
        update yxw_game_data_item
        <set>
            <if test="userId!=null"> userId = #{userId}, </if>
            <if test="dataType!=null"> dataType = #{dataType}, </if>
            <if test="dateValue!=null"> dateValue = #{dateValue}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>