<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="secure_template">
<head>
    <meta charset="UTF-8">
    <title>DIY作品</title>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/custom/css/common.css" th:href="@{/custom/css/common.css}">
    <script src="../static/bootstrap/js/jquery.min.2.1.1.js" th:src="@{/bootstrap/js/jquery.min.2.1.1.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../static/custom/js/common.js" th:src="@{/custom/js/common.js}"></script>
    <script src="../static/custom/js/proto/proto.js" th:src="@{/custom/js/proto/proto.js}"></script>
    <style>
        #chat-hall {
            position: absolute;
            background-color: #f6f6f6;
            height: 80%;
            width: 40%;
            right: 0;
            top: 40px;
            display: none;
            border: #888 solid 1px;
        }

        #chat-hall-close-btn {
            position: absolute;
            top: 0;
            right: 0;
        }
        #chat-hall-body {
            border: #0f0f0f solid 1px;
        }
        #chat-hall-bottom {
            /*border: #0f0f0f solid 1px;*/
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            margin: 0;
            padding: 0;
        }
        #chat-hall-bottom-select {
            height: 100%;
            width: 10%;
            margin: 0;
            padding: 0;
        }
        #chat-hall-bottom-input {
            height: 100%;
            width: 80%;
            margin: 0;
        }
        #chat-hall-bottom-btn {
            height: 100%;
            width: 8%;
            margin: 0;
        }
    </style>
</head>
<body>
<div th:fragment="header">
    <input type="hidden" id="contextPath" th:value="${#httpServletRequest.getContextPath()}"/>
    <div id="header">
        <div class="btn-group" style="float: right;">
            <button type="button" class="btn btn-default" onclick="window.location.href = '/index';">首页</button>
            <button type="button" class="btn btn-default" id="chat-hall-btn">聊天大厅</button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
                <span id="user-name-label" th:text="${session.sessionAccount.username}">[...]</span>
                <input type="hidden" id="account-id-hidden-input" th:value="${session.sessionAccount.id}"/>
            </button>
            <button type="button" class="btn btn-default" id="show-ping-btn">ping: 000</button>
            <button type="button" class="btn btn-default" onclick="window.location.href = '/logout';">注销</button>
        </div>
    </div>
</div>
<div class="panel panel-default" id="chat-hall">
    <div class="panel-heading">
        <span class="panel-title">
            聊天大厅
        </span>
        <button type="button" id="chat-hall-close-btn" class="float-right btn btn-danger"
                onclick="$('#chat-hall').hide();">X
        </button>
    </div>
    <div id="chat-hall-body">
    </div>
    <div id="chat-hall-bottom">
        <select class="btn btn-primary" id="chat-hall-bottom-select">
            <option>公共</option>
        </select>
        <input id="chat-hall-bottom-input" />
        <button id="chat-hall-bottom-btn">发送</button>
    </div>
</div>
</body>
<script th:inline="javascript">
    // 玩家id
    let userId = Number.parseInt($("#account-id-hidden-input").val());
    // websocket对象
    let ws;
    // ws是否已经连接
    let hasConnected = false;
    // 所有服务端发送过来的配置集合
    let allCfgMap = new Map();
    // url前缀
    const contextPath = $("#contextPath").val();
    $(function () {
        // 打开与关闭聊天大厅
        $("#chat-hall-btn").click(function () {
            $("#chat-hall").toggle();
        });
        // 注册处理器
        registerAllResponseHandler();
        $.get(contextPath + "/getWsUrlPrefix", function (wsUrlPrefix) {
            ws = new WebSocket(wsUrlPrefix + userId);
            ws.onopen = function () {
                hasConnected = true;
                console.log("建立 websocket 连接...");
            };
            ws.onmessage = function (event) {
                //服务端发送的消息
                //console.log("服务端发过来的信息：" + event.data);
                handleResponse(ws, event);
            };
            ws.onclose = function () {
                hasConnected = false;
                console.log("关闭 websocket 连接...");
                $("#show-ping-btn").html("ping: 460");
            };
            sendHeartBeatRequest(ws);

            // 创建定时器，每隔一定时间，发送心跳协议
            setInterval(function () {
                sendHeartBeatRequest(ws);
            }, 2000);
        });
        $("#chat-hall-bottom-btn").click(function () {
            let inputString = $("#chat-hall-bottom-input").val();
            if (inputString.length <= 0) {
                return;
            }
            // 发送公共聊天信息
            sendPublicChatRequest(ws, inputString);
        });

        // 获取之前的公共聊天历史
        let lastChatMessages = [[${lastChatMessages}]];
        $.each(lastChatMessages, function (index, publicChatMessage) {
            addShowingChatMessage(userId, publicChatMessage["senderId"], publicChatMessage["messageType"], publicChatMessage["senderName"], publicChatMessage["content"], publicChatMessage["sendTime"]);
        });
    });

    // 注册所有ws相关接收处理器
    function registerAllResponseHandler() {
        registerWSHandler("BASE_HEART_BEAT", "server_info", function (subProtoData) {
            let currentTime = new Date().getTime();
            let serverInfo = JSON.parse(subProtoData[message]);
            let serverTime = serverInfo["serverTime"];
            let ping = serverInfo["ping"] + "";
            while (ping.length < 2) {
                ping = "0" + ping;
            }
            let accountCount = serverInfo["accountCount"];
            // 总延迟 = 客户端到服务端的时间 + 服务端到客户端的时间
            ping += (currentTime - serverTime);
            //console.log("总在线人数：" + accountCount + "，ping：" + ping);
            $("#show-ping-btn").html("ping: " + ping);
        });
        registerWSHandler("BASE_HEART_BEAT", "connect_success", function (subProtoData) {
            let msg = subProtoData[message];
            let allCfg = subProtoData["allCfg"];
            for (let key in allCfg) {
                // 这里的key为配置名称，默认为简单类名
                let cfgList = allCfg[key];
                let cfgMapInJS = allCfgMap.get(key);
                if (cfgMapInJS == null) {
                    cfgMapInJS = new Map();
                    allCfgMap.put(key, cfgMapInJS);
                }
                $.each(cfgList, function (index, item) {
                    cfgMapInJS.put(item["id"], item);
                });
            }
            console.log("连接成功后服务端发送过来的响应信息： " + msg);
            //console.log("所有配置： " + JSON.stringify(subProtoData["allCfg"]));
            //console.log("所有配置： " + allCfgMap.toString());
        });

        // 发送成功的返回信息
        registerWSHandler("BASE_CHAT_HALL", "send_success", function (subProtoData) {
            // 清空输入框
            $("#chat-hall-bottom-input").val("");
        });
        // 接收公共聊天信息
        registerWSHandler("BASE_CHAT_HALL", "receive_public_chat_message", function (subProtoData) {
            let publicChatMessage = subProtoData["publicChatMessage"];
            addShowingChatMessage(userId, publicChatMessage["senderId"], publicChatMessage["messageType"], publicChatMessage["senderName"], publicChatMessage["content"], publicChatMessage["sendTime"]);
            //console.log("接收公共聊天信息： " + JSON.stringify(publicChatMessage));
        });
    }

    function addShowingChatMessage(userId, senderId, messageType, senderName, content, sendTime) {
        senderName = (userId === senderId ? "我" : senderName);
        sendTime = timestampToDate(sendTime);
        if ("PUBLIC" === messageType) {
            messageType = "公共";
        } else if ("SYSTEM" === messageType) {
            messageType = "系统";
        }
        let chatString = "[" + messageType + "][" + sendTime + "][" + senderName + "]:" + content;
        $("#chat-hall-body").append("<p>" + chatString + "</p>");
    }

    // 发送心跳协议请求
    function sendHeartBeatRequest(ws) {
        // 基础协议类型
        let baseProtoType = "BASE_HEART_BEAT";
        // 子协议类型
        let protoType = "sub_heart_beat";
        // 当前时间的毫秒值
        let currentTime = new Date().getTime();
        // 需要发送的json数据
        let messageJson = {reqType: protoType, "clientTime": currentTime};
        sendRequest(ws, baseProtoType, protoType, messageJson);
    }

    // 发送公共聊天请求
    function sendPublicChatRequest(ws, publicChatMessage) {
        let protoType = "send_public_chat_message";
        let messageJson = {reqType: protoType, "message": publicChatMessage};
        sendRequest(ws, "BASE_CHAT_HALL", protoType, messageJson);
    }

</script>
</html>