<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="secure_template">
<head>
    <meta charset="UTF-8">
    <title>DIY作品</title>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script src="../static/bootstrap/js/jquery.min.2.1.1.js" th:src="@{/bootstrap/js/jquery.min.2.1.1.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        #chat-hall {
            position: absolute;
            height: 80%;
            width: 40%;
            background-color: #dddddd;
            display: none;
            border: #888 solid 1px;
        }
    </style>
</head>
<body>
<div th:fragment="header" >
    <input type="hidden" id="contextPath" th:value="${#httpServletRequest.getContextPath()}" />
    <div id="header">
        <div class="btn-group" style="float: right;">
            <button type="button" class="btn btn-default" onclick="window.location.href = '/index';">首页</button>
            <button type="button" class="btn btn-default" id="chat-hall-btn">聊天大厅</button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
                <span id="user-name-label" th:text="${session.sessionPlayer.username}">[...]</span>
            </button>
            <button type="button" class="btn btn-default" onclick="window.location.href = '/logout';">注销</button>
        </div>
    </div>
</div>
<div id="chat-hall">
    <p>聊天大厅</p>
</div>
</body>
<script>
$(function() {
    initChatHallOffset();
    // 打开与关闭聊天大厅
    $("#chat-hall-btn").click(function() {
        $("#chat-hall").toggle();
    });

    var username = $("#user-name-label").html().trim();
    var ws;
    var contextPath = $("#contextPath").val();
    $.get(contextPath + "/getWsUrlPrefix", function (wsUrlPrefix) {
        ws = new WebSocket(wsUrlPrefix + username);
        ws.onopen = function () {
            console.log("建立 websocket 连接...");
        };
        ws.onmessage = function(event){
            //服务端发送的消息
            //console.log("服务端发过来的信息：" + event.data);
            handleResponse(ws, event);
        };
        ws.onclose = function(){
            $('#message_content').append('用户['+username+'] 已经离开' + '\n');
            console.log("关闭 websocket 连接...");
        }
        sendHeartBeatRequest(ws);

        // 创建定时器，每隔一定时间，发送心跳协议
        setInterval(function () {
            sendHeartBeatRequest(ws);
        },2000);
    });
})
function sendHeartBeatRequest(ws) {

}
// 处理服务端返回的响应
function handleResponse(ws, event) {
    // 字符串转json
    var baseProtoData = JSON.parse(event.data);
    // 基础协议的类型，参考 WsProtoConstants
    var baseProtoType = baseProtoData["type"];
    if (baseProtoType === "heart_beat") {
        // 子协议内容
        var subProtoData = JSON.parse(baseProtoData["message"]);
        // 子协议类型
        var subProtoType = subProtoData["type"];
        if (subProtoType === "SERVER_INFO") {
            
        }
    } else if (baseProtoType === "chatHall") {

    } else {
        alert("未知的基础协议类型：" + event.data["type"]);
    }
}
// 初始化聊天框的位置
function initChatHallOffset() {
    var element = $("#chat-hall");
    // 计算聊天大厅div的横坐标
    var x = $(window).width() - element.width() - 10;
    var y = $("#chat-hall-btn").height() + 15;
    element.offset({ top: y, left: x })
}


</script>
</html>