<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="referrer" content="no-referrer">
    <meta charset="UTF-8" name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>DIY作品</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script src="../static/bootstrap/js/jquery.min.2.1.1.js" th:src="@{/bootstrap/js/jquery.min.2.1.1.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <style>
    </style>
</head>
<body>
    <div th:replace="header :: html"></div>
    <div id="container">
        <table class="table">
            <caption>待开发功能</caption>
            <tbody>
            <tr class="active">
                <td>
                    <button class="btn-primary btn" id="to-choose-first-figure-btn">点击选择初始人物</button>
                </td>
                <td>待开发</td>
            </tr>
            <tr class="active">
                <td><a href="card/list">卡牌一览</a></td>
                <td>待开发</td>
            </tr>
            <tr class="success">
                <td>角色一览</td>
                <td>待开发</td>
            </tr>
            <tr  class="warning">
                <td>技能一览</td>
                <td>待开发</td>
            </tr>
            <tr  class="danger">
                <td>人机对战</td>
                <td>待开发</td>
            </tr>
            <tr  class="active">
                <td>自由对战</td>
                <td>待开发</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 选择初始人物模态框（Modal） -->
    <div class="modal fade" id="chooseFirstFigureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">请确认</h4>
                </div>
                <div class="modal-body" id="first-figure-div">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="chooseFirstFigure()" >确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
<script th:inline="javascript">
    $(function() {
        $("#to-choose-first-figure-btn").click(function () {
            showChooseFirstFigure();
        });
        // 显示可选的初始人物
        registerWSHandler("YXW_GAME_FIGURE", "show_first_figures", function (subProtoData) {
            let msg = subProtoData["infos"];
            //alert("初始人物信息： " + JSON.stringify(msg));
            // 初始化模态框内的数据
            let div = $("#first-figure-div");
            let divHtml = "";
            $.each(msg, function (index, item) {
                divHtml += "<div><img width='300' height='200' src='"+item['appearanceImgUrl']+"'  alt='NULL'/> <input type='hidden' value='"+item['id']+"' />" +
                    "<span>"+item['name']+"</span><br/> <span>"+item['description']+"</span>" +
                    "<button onclick='chooseFirstFigure("+item['id']+")'>选择</button></div>";
            });
            div.html(divHtml);
            // 显示模态框
            $("#chooseFirstFigureModal").modal("show");
        });

        // 显示选择初始人物的返回结果
        registerWSHandler("YXW_GAME_FIGURE", "choose_first_figure", function (subProtoData) {

        });
    });
    // 显示选择初始人物的界面
    function showChooseFirstFigure() {
        // 基础协议类型
        let baseProtoType = "YXW_GAME_FIGURE";
        // 子协议类型
        let protoType = "show_first_figures";
        // 需要发送的json数据
        let messageJson = {reqType: protoType};
        sendRequest(ws, baseProtoType, protoType, messageJson);
    }
    // 选择初始人物
    function chooseFirstFigure(figureId) {
        //alert("选择人物id为：" + figureId);
        // 基础协议类型
        let baseProtoType = "YXW_GAME_FIGURE";
        // 子协议类型
        let protoType = "choose_first_figure";
        // 需要发送的json数据
        let messageJson = {reqType: protoType, "figureId" : figureId};
        sendRequest(ws, baseProtoType, protoType, messageJson);
    }
</script>
</html>